@muffincss;
:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #1d4ed8;
}

@media (prefers-color-scheme: dark) {
  .dark {
    --bg: #0f172a;
    --text: #f1f5f9;
    --primary: #3b82f6; /* blue-500 */
  }
}

body {
  font-family: "Titillium Web", sans-serif;
}

.btn {
  color: red;
  background-color: yellow;
}
.btn:hover {
  color: yellow;

  background-color: red;
}
